MARKET_DATA_PROVIDER=auto
FUGLE_API_KEY=
TAISHIN_NOVA_SDK_PATH=.local/taishin-nova/node_modules/taishin-sdk
TAISHIN_SECURE_CONFIG_DIR=
TAISHIN_PERSONAL_ID=
TAISHIN_LOGIN_PASSWORD=
TAISHIN_CERT_PATH=
TAISHIN_CERT_PASSWORD=
TAISHIN_ACCOUNT=
DATA_TIMEZONE=Asia/Taipei
HISTORY_YEARS=5
SCAN_CONCURRENCY=6
